/*STYLES GENERALES*/

        h2 {
            font-size: 4rem;
            color: #FF3333;
            margin: 40px auto;

            text-align: center;
            font-weight: bolder;
            font-family: 'Poor Story', cursive;
        }

/* HEADER STYLES*/

        @media (max-width: 400px){
            img.logo_entero {
                width: 140px;
            }    
        }

        header {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        .logo_entero {
            width: 180px;
        }

        .nav-item {
            /*font-size: 1.5rem;*/
            font-weight: bold;
            /*margin-left: 20px;*/

        }

        .btn {
            color: #FF3333;
            border-color: #FF3333;
            background-color: white;
        }

        .btn:hover {
            background-color: #FF3333;
            border-color: #FF3333;
        }


/*CARRUSEL NOTICIAS*/

        @media (max-width: 993px) {
            .car-uno.active {
                height: 300px;
            }
        }


        /*@media (max-width: 577px) {
            .car-uno.active  {
                height: 200px;
            }
        }
*/
        .car-uno img {
            height: 400px;

        
        }

        .car-uno h5 {
            font-size: 3rem;
            font-weight: bolder;
            color: yellow;
        } 
        .car-uno p{
            color: rgb(53, 241, 93);
            font-weight: bold;

        }

        @media (max-width: 577px){    
            .car-uno h5 {
                font-size: 2rem;
            }
        
            .car-uno p {
                font-size: 0.7rem;
            }
        
            h2 {
                font-size: 3rem;
            }

            .car-uno  {
                height: 200px;
            }
        }

/*CARRUSEL DESTACADOS Y DESCUENTOS*/


        .cards-destacados {
            display: flex;
        
        }

        .card {
            margin: 0 auto;
            width: calc(90%/3);
            border: none;
            position: relative;
        }


        .descuento {
            background-color: green;
            color: white;
            font-weight: bold;
            display: block;
            position: absolute; top: 15px; right: -30px; 
            z-index: 1;
            padding: 3px;
            font-family: 'Poor Story', cursive;
        }

        .card img {
            max-width: 100%;
        }


        @media (max-width: 993px) {
            .card:first-child{
                display: none;
            }
        
            .card {
                margin: 0 auto;

            }
        }



        @media (max-width: 577px) {
            .card:not(:last-child){ 
                display: none;
            }
        
            .card {
                margin: 0 auto;
                width: 75%;
            }



        }

/* FOOTER STYLES*/

        footer {
            background-color: #FF3333;
            color: white;
            width: 100%;
            height: 200px;
            margin-top: 140px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            justify-content: space-between;
        
        }

        footer a {
            text-decoration: none;
            color: white;
        }


        .logos-redes {
            font-size: 50px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
        }

        .leyendas-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (max-width: 993px){ 

            footer {
                height: 150px;
            }
        
            .leyendas-footer {
                font-size: .8rem;
            }
        
            .logos-redes {
                font-size: 30px;
            }
        }

        @media (max-width: 577px) {
            footer {
                height: 100px;
            }
        
            .leyendas-footer {
                font-size: .4rem;
            }
        
            .logos-redes {
                font-size: 20px;
            }

/*@MEDIA PRODUCTOS*/

        .card-productos h5 {
            font-size: 16px;
        }

        .card-productos p {
            font-size: 12px;
        }

        }


/* SERVICIOS STYLES */

        .caja-serv {
            display: flex;
            flex-direction: row;
        
        }

        .caja-serv img {
            width: 200px;
        }

        .sub-titulo {
            text-align: center;

            margin-bottom: 100px;
        }

        .serv-item {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        @media (max-width: 992px) {
            .caja-serv img {
                width: 100px;
            }

        }

        @media (max-width: 567px){
            .caja-serv {
                display: flex;
                flex-direction: column
        }
        }

/*CONTACTO STYLES*/

        .leyenda_contacto {
            text-align: center;
            margin-bottom: 200px;
        }