@charset "UTF-8";
/*COLORES*/
/*TAMAÑOS FUENTES*/
/*MEDIAS*/
header {
  position: sticky;
  top: 0;
  z-index: 2;
}
header .logo_entero {
  width: 180px;
}
header .nav-item {
  font-weight: bold;
}
header .btn {
  color: #FF3333;
  border-color: #FF3333;
  background-color: white;
}
header .btn:hover {
  background-color: #FF3333;
  border-color: #FF3333;
}
header .btn:active {
  background-color: #ffc107;
  border-color: #ffc107;
}

h2 {
  font-size: 4rem;
  color: #FF3333;
  margin: 40px auto;
  text-align: center;
  font-weight: bolder;
  font-family: "Poor Story", cursive;
}

.btn {
  color: #FF3333;
  border-color: #FF3333;
  background-color: white;
}
.btn:hover {
  color: white;
  background-color: #FF3333;
  border-color: #FF3333;
}
.btn:active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: white !important;
}

@media (max-width: 400px) {
  img.logo_entero {
    width: 140px;
  }
}
@media (max-width: 577px) {
  h2 {
    font-size: 3rem;
  }
}
/*FOOTER*/
footer {
  background-color: #FF3333;
  color: white;
  width: 100%;
  height: 200px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
  color: white;
}

.logos-redes {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.leyendas-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 993px) {
  footer {
    height: 150px;
  }
  .leyendas-footer {
    font-size: 0.8rem;
  }
  .logos-redes {
    font-size: 30px;
  }
}
@media (max-width: 577px) {
  footer {
    height: 100px;
  }
  .leyendas-footer {
    font-size: 0.4rem;
  }
  .logos-redes {
    font-size: 20px;
  }
}
.car-uno img {
  height: 100%;
}
.car-uno h5 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffc107;
}
.car-uno p {
  color: #ffc107;
  font-weight: bold;
}

@media (max-width: 577px) {
  .car-uno h5 {
    font-size: 2rem;
  }
  .car-uno p {
    font-size: 0.7rem;
  }
}
/*DESTACADOS*/
.cards-destacados {
  display: flex;
}

.card {
  margin: 0 auto;
  width: 30%;
  border: none;
  position: relative;
}
.card img {
  max-width: 100%;
}
.card .btn {
  color: #FF3333;
  border-color: #FF3333;
  background-color: white;
}
.card .btn:hover {
  color: white;
  background-color: #FF3333;
  border-color: #FF3333;
}
.card .btn:active {
  background-color: #ffc107;
  border-color: #ffc107;
}

.descuento {
  background-color: green;
  color: white;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 15px;
  right: -30px;
  z-index: 1;
  padding: 3px;
  font-family: "Poor Story", cursive;
}

@media (max-width: 993px) {
  .card:first-child {
    display: none;
  }
  .card {
    margin: 0 auto;
  }
}
@media (max-width: 769px) {
  .card:not(:last-child) {
    display: none;
  }
  .card {
    margin: 0 auto;
    width: 75%;
  }
}
.card-productos .btn {
  color: #FF3333;
  border-color: #FF3333;
  background-color: white;
}
.card-productos .btn:hover {
  color: white;
  background-color: #FF3333;
  border-color: #FF3333;
}
.card-productos .btn:active {
  background-color: #ffc107;
  border-color: #ffc107;
}
.card-productos h5 {
  font-size: 1rem;
}
.card-productos p {
  font-size: 0.75rem;
}

.caja-serv {
  display: flex;
  flex-direction: row;
}
.caja-serv img {
  width: 200px;
}

.sub-titulo {
  text-align: center;
  margin-bottom: 100px;
}

.serv-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn-mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media (max-width: 993px) {
  .caja-serv img {
    width: 100px;
  }
}
@media (max-width: 577px) {
  .caja-serv {
    display: flex;
    flex-direction: column;
  }
}
.leyenda_contacto {
  text-align: center;
  margin-bottom: 200px;
}

.mb-3 {
  width: 50%;
  margin: 0 auto;
}
.mb-3 textarea {
  height: 400px;
}

.botones-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 993px) {
  .mb-3 {
    width: 75%;
  }
}
@media (max-width: 577px) {
  .mb-3 {
    width: 85%;
  }
}
.hist {
  display: grid;
  grid-template-areas: "parrafo1 parrafo1 img1 img1" "parrafo2 parrafo2 img1 img1" "img2 img2 parrafo3 parrafo3" "img2 img2 parrafo3 parrafo3" "parrafo4 parrafo4 parrafo4 parrafo4" "parrafo5 parrafo5 parrafo5 parrafo5";
}

.img1 {
  grid-area: img1;
}
.img1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img2 {
  grid-area: img2;
}
.img2 img {
  max-width: 100%;
}

.parrafo1 {
  grid-area: parrafo1;
  padding: 15px;
}

.parrafo2 {
  grid-area: parrafo2;
  padding: 15px;
}

.parrafo3 {
  grid-area: parrafo3;
  padding: 15px;
}

.parrafo4 {
  grid-area: parrafo4;
  padding: 15px;
}

.parrafo5 {
  grid-area: parrafo5;
  padding: 15px;
}

/*# sourceMappingURL=styles.css.map */
