.leyenda_contacto {
    text-align: center;
    margin-bottom: 200px;
}


.mb-3 {
    width: 50%;
    margin: 0 auto;
        textarea {height: 400px;}
}



.botones-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

@media (max-width: $max-lg) {
    .mb-3 {width: 75%;}
}

@media (max-width: $max-md) {
    .mb-3 {width: 85%;}
}