.leyenda_contacto {
    text-align: center;
    margin-bottom: 200px;
}
.btn {
    color: $color-primario;
    border-color: $color-primario;
    background-color: $color-fondo;
        &:hover {
            color: $color-fondo;
            background-color: $color-primario;
            border-color: $color-primario;
        }
        &:active {
            background-color: $color-click;
            border-color: $color-click;
        }
}