.card-productos {
    background-color: $color-fondo;
    padding: 3%;
    .btn {
        color: $color-primario;
        border-color: $color-primario;
        background-color: $color-fondo;
            &:hover {
                color: $color-fondo;
                background-color: $color-primario;
                border-color: $color-primario;
                }
            &:active {
                background-color: $color-click;
                border-color: $color-click;
                }
        }
            h5 {font-size: 1rem;}
            p {font-size: .75rem;}
    &:hover {
        transform: scale(1.2,1.2);
        }
}

input[type="radio"]{
    display: none;
    
}


.labels-filtro {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top: 20px;
        label {
            padding: 6px 40px;
            margin: 10px;
            background: $color-fondo;
            color: $color-primario;
            border-color: $color-primario;
            /*border: solid;*/
            border-radius: 5px;
            cursor: pointer;
                &:active {
                    color: $color-fondo;
                    background: $color-primario;
                }
                &:hover {
                    color: $color-fondo;
                    background: $color-primario;
                }
                &:focus-within {
                    color: $color-fondo;
                    background: $color-primario;                    
                }
        }
}

[value="pc"]:checked ~ .caja-productos .card-productos:not([data-category~="pc"]),
[value="acc"]:checked ~ .caja-productos .card-productos:not([data-category~="acc"]),
[value="gamer"]:checked ~ .caja-productos .card-productos:not([data-category~="gamer"]),
[value="hogar"]:checked ~ .caja-productos .card-productos:not([data-category~="hogar"])

{
    display:none;
}
